.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

 .ui header{
   color: rgba(8, 17, 88, 0.99)
 } 
md-toolbar-row {
  justify-content: space-between;
}
#name {
  margin-right: 1em
}

[md-menu-item] md-icon {
    margin-right: 26px;
}

[md-card-avatar] {
    height: 40px;
    width: 40px;
border-radius: 50%}

