#companyLoginCard{
    width: 50%
}
#companyDiv{
    margin-left: 31%;    
    margin-top: 10%;
}

 h2{
      color: rgba(8, 17, 88, 0.99)
 }

  md-card {
    box-shadow: 0 3px 1px -2px rgba(8, 17, 88, 0.99), 0 2px 2px 0 rgba(8, 17, 88, 0.99), 0 1px 5px 0 rgba(8, 17, 88, 0.99)
 }

  .input-container{
    width: 95% !important;
}
#imageDiv{
          width: 20%;
    margin-left: 22em;
    margin-top: -6em;
    height: 3em;
 }

 .user_img{
    display: inline-block;
    min-width: 35px;
    min-height: 35px;
    width: 70px;
    height: 70px;
    cursor: default;
    border-radius: 500px;
    vertical-align: super;
}
.input-container{
    width: 95% !important;
     margin-left: 2.5em
}
.mainImageDiv{
    width: 50%
}
.btn{
    margin-top: 1em
}

.material-icons {
    margin-left: -2em;
    font-size: 20px;
}
md-input-container:not(.md-input-invalid) > md-icon.email {
    color: green; }

    .SearchFilters_Container{
    margin-left: 2em    
    }

    #registerBtn{
            margin-left: 12em;
    }
    
    .md-input-element{
    margin-left: .8em
    }