<div id="companyDiv">
  <md-card id="companyLoginCard">

    <div class="ui raised segment">
      <h2 class="ui header">COMPANY REGISTRATION</h2>
      <form #f="ngForm" (ngSubmit)="CompanyRegistrat(f.value)" class="ui form">

        <div id="mainImageDiv">
          Upload Logo
          <input id="file" name="file" type="file" id="CompanyLogo">
          <button type="button" class="btn btn-success btn-xs btn" (click)="LogoUpload()">
              <span class="glyphicon glyphicon-upload"></span> Upload
          </button>
        </div>
        <div id="imageDiv" *ngIf = "!url">
          <img md-card-avatar id="userImage" class="md-user-avatar logo_img" src = '{{"../../app/img/icons/logo.png"}}'>
        </div><br>
        <div id="imageDiv" *ngIf = "url">
          <img md-card-avatar id="userImage" class="md-user-avatar logo_img" [src] = 'url'>
        </div><br>


        <md-input-container class="input-container">
          <md-icon style="color: rgba(8, 17, 88, 0.99)">location_city</md-icon>
          <input md-input type="text" placeholder="Company Name" name="CompanyName" required ngModel>
        </md-input-container>
        <md-input-container class="input-container">
          <md-icon style="color: rgba(8, 17, 88, 0.99)">access_time</md-icon>
          <input md-input type="number" placeholder="Established" name="established" required ngModel>
        </md-input-container>
        <md-input-container class="input-container">
          <md-icon style="color: rgba(8, 17, 88, 0.99)">phone</md-icon>
          <input md-input type="number" placeholder="Phone Number" name="PhoneNumber" ngModel>
        </md-input-container>

        <md-input-container class="input-container">
         <md-icon style="color: rgba(8, 17, 88, 0.99)">email</md-icon>
          <input md-input type="email" placeholder="Email (required)" required name="Email" ngModel>
        </md-input-container>
        <md-input-container class="input-container">
          <md-icon style="color: rgba(8, 17, 88, 0.99)">person</md-icon>
          <input md-input type="text" placeholder="HRName" name="hrName" ngModel>
        </md-input-container>        
        <md-input-container class="input-container">
          <md-icon style="color: rgba(8, 17, 88, 0.99)">lock</md-icon>
          <input md-input type="password" placeholder="password" name="Password" required ngModel>
        </md-input-container> <br>

        <button md-raised-button type="submit" color="primary" id="registerBtn">Register</button>
      </form>

    </div>
  </md-card><br><br>
</div>