<md-tab-group>
      <md-tab label="View Student Detail">
            <div id="selectBoxDiv">
                  <md-select placeholder="Select Department" [(ngModel)]="selectedValue" (ngModelChange)="changeDepartment($event,selectedValue)"
                        id="selectBox">
                        <md-option value="ComputerScience">Computer Science</md-option>
                        <md-option value="Civil Engineering">Civil Engineering</md-option>
                        <md-option value="Computer Engineering">Computer Engineering</md-option>
                        <md-option value="Electrical Engineering">Electrical Engineering</md-option>
                        <md-option value="Electronics & Electrical Systems">Electronics & Electrical Systems</md-option>
                        <md-option value="Mechanical Engineering">Mechanical Engineering</md-option>
                        <md-option value="Department of Technology">Department of Technology</md-option>
                  </md-select>
            </div>
            <div id="EamilBtn">
                  <button md-raised-button (click)="SendEmailPopUp()" color="primary">Email</button>
            </div>
            <div id="loader" *ngIf="loading">
                  <md-spinner class="app-spinner"></md-spinner>
            </div><br><br>

            <div>
                  <md-card *ngFor="let s of studentDepartmantWise" style="margin-top: 2em" [ngClass]="{'active-selected-row' : s.selected}" (click) ="selectToggle($event, s)">
                        <img md-card-avatar *ngIf="!s.imageURL" class="md-user-avatar user_img" src='{{"../../app/img/userImage.png"}}'>
                        <img *ngIf="s.imageURL" md-card-avatar class="md-user-avatar user_img" [src]= s .imageURL>
                  <div class="inline-block-elem top-aligned-elem card-cell-1n">
                        <div class="UserProfile">
                              <h2>
                              <span class="uname-css">
                                    {{(s.FirstName ? s.FirstName :  "")}}{{(s.LastName ? s.LastName :  "")}}
                              </span>
                              </h2>
                              <p style="margin: 1em 0;"><span class="infoLbl bold">Gender</span><span class="regular" style="padding: 1.5em">{{(s.Gender ? s.Gender : "")}}</span>
                              </p>
                        </div>
                  </div>
                  <div class="inline-block-elem top-aligned-elem card-cell-2n">
                        <div>
                              <p class="info-user bold" style="width: auto;"> <span class="infoLbl bold">Date of Birth</span> <span class="relation-css regular rightFloatElem">{{s.DOB || ""}}</span></p>
                        </div>
                        <div>
                              <p class="info-user bold" style="width: auto;"> <span class="infoLbl bold">CONTACT NO:</span> <span class="relation-css regular rightFloatElem">{{s.Contact || ""}}</span></p>
                        </div>
                        <div>
                              <p class="info-user bold" style="width: auto;"> <span class="infoLbl bold">Email:</span> <span class="relation-css regular rightFloatElem">{{s.Email || ""}}</span></p>
                        </div>
                  </div>
                  <div class="inline-block-elem top-aligned-elem card-cell-3n">
                        <div id="ResumeBtn">
                              <button md-raised-button (click)="ViewResume(s.$key)" color="primary" id="Resume">View Resume</button>
                        </div>
                  </div>
                  <md-card-actions layout="row" layout-align="end center" class='rightClearElem card_action'>
                        <div class="triangleRightBottom">
                              <span class="fa fa-check"></span>
                        </div>
                  </md-card-actions>
            </md-card><br>
      </div>
</md-tab>


<md-tab label="Post new Vecancy">
      <div id="mainDiv">
            <md-card id="VecancyCard">
                  <div class="ui raised segment">
                        <h2 class="ui header">Add Vecancy</h2>
                        <form #form="ngForm" (ngSubmit)="PostVecancy(form.value)" class="ui form">
                              <md-input-container>
                                    <md-icon class="jobProfile"></md-icon>
                                    <input md-input type="text" placeholder="Job Profile" name="JobProfile" required ngModel>
                              </md-input-container><br>
                              <md-input-container>
                                    <md-icon class="jobTitle"></md-icon>
                                    <input md-input type="text" placeholder="Job Title" name="jobTitle" required ngModel>
                              </md-input-container><br>
                              <md-input-container>
                                    <md-icon class="salary"></md-icon>
                                    <input md-input type="text" placeholder="Salary" name="Salary" required ngModel>
                              </md-input-container><br>
                              <md-input-container>
                                    <md-icon class="eligibilityCriteria"></md-icon>
                                    <input md-input type="text" placeholder="Eligibility Criteria" name="EligibilityCriteria" required ngModel>
                              </md-input-container><br>
                              <md-input-container>
                                    <md-icon class="bond"></md-icon>
                                    <input md-input placeholder="Bond (Leave Blank if no Bond)" type="text" name="Bond" ngModel>
                              </md-input-container><br>
                              <md-input-container>
                                    <md-icon class="email"></md-icon>
                                    <input md-input placeholder="Email" type="text" name="Email" required ngModel>
                              </md-input-container><br>


                              <button md-raised-button type="submit" color="primary">Post</button>

                        </form>
                  </div>
            </md-card><br>
      </div>
</md-tab>
</md-tab-group>